* {
    font-size: large;
    margin-top: 10px;
    margin-bottom: 30px;
    color: white;
}

.button {
    font-weight: 500;
    opacity: 0.7;
}

.button:hover {
    font-weight: 500;
    opacity: 1;
}