.Balance {
    height: 250px;
    width: 100%;
}

.balance-element .amount {
    text-align: left;
    font-size: 140px;
    font-weight: 100;
    color: white;
    opacity: 0.3;
}

.balance-element .description {
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-left: 20px;
    margin-top: -40px;
    opacity: 0.6;
}