.Balance {
    height: 350px;
}

.available-balance .amount{
    font-size: 150px;
    color: #8bbfff;
}

.available-balance .description{
    font-size: 30px;
    color: #c7dfff;
}

.available-balance {
    position: relative;
    top: 90px;
    line-height: 100px;
}