table .current-address {
    color: #00ffe9;
}

.userinfo {
    height: 120px;
    background:rgba(255, 255, 255, 0.1);
    background: linear-gradient(transparent, transparent, rgba(255,136,115,0.2));
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0px !important;
    margin-bottom: 50px !important;
}

.useraddress {
    font-weight: 300 !important;
}

#search-field {
    display: inline-block !important;
}