.table {
    border: none !important;
}

.table th{
    border: none !important;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3) !important;
    padding: 20px !important;
}

.table tr td {
    border: none !important;
    padding: 20px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.table > tbody > tr > td > a {
    color: white !important;
}

.table tr:hover {
    background: rgba(255, 255, 255, 0.1) !important;
    box-shadow: 0px 0px 28px -6px rgba(255,136,115,1) !important;
}

#page-menu {
    background: rgba(255, 255, 255, 0.3) !important;
    min-height: 40px !important;
    min-width: 80px;
    border-radius: 3px;
    border: none !important;
    margin-left: 22px;
    padding-left: 10px;
    padding-right: 10px;
}

#page-menu:hover {
    background: rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0px 0px 28px -14px rgba(255,163,135,1);
}

#page-menu:focus {
    box-shadow: 0px 0px 28px -6px rgba(255,136,115,1);
}

#search-field {
    background: rgba(255, 255, 255, 0.3) !important;
    min-height: 40px !important;
    border-radius: 3px;
    border: none !important;
    margin-left: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

#search-field:hover {
    background: rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0px 0px 28px -14px rgba(255,163,135,1);
}

#search-field:focus {
    box-shadow: 0px 0px 28px -6px rgba(255,136,115,1);
}

.pagination li {
    border: 1px solid (255, 255, 255, 0.2) !important;
}

.pagination {
    vertical-align: middle;
}

.pagination > li > a {
    background: rgba(255, 255, 255, 0.2) !important;
    min-height: 60px !important;
    border: none !important;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.pagination > .active > a {
    background: rgba(255, 255, 255, 0.6) !important;
    box-shadow: 0px 0px 28px -6px rgba(255,136,115,1);
    color: #555;
    min-height: 60px !important;
    border: none !important;
}

.pagination > li > a:hover {
    background: rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0px 0px 28px -6px rgba(255,136,115,1);
}

.Balances {
    height: 350px;
    margin-top: 60px;
}

.balance-element .amount {
    text-align: left;
    font-size: 140px;
    font-weight: 100;
    color: white;
    opacity: 0.3;
}

.balance-element .description {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-left: 10px;
    margin-top: -40px;
    opacity: 0.6;
}