.pointer {
    cursor: pointer;
}

.button {
    opacity: 0.8;
    -webkit-transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
}

.button:hover {
    opacity: 1;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}