.pointer {
    cursor: pointer;
}

.button {
    opacity: 0.8;
    -webkit-transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
}

.button:hover {
    border-bottom: 3px solid #F44336;
}