.Transactions {
    margin-top: 200px;
}

.transaction-item {
    background: rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 160px;
    margin-bottom: 25px;
    padding: 10px;
}

.transaction-item .date {
    font-size: 20px;
}

.transaction-item .icon span {
    font-size: 50px;
    margin-left: 5%;
}

.transaction-item .amount {
    font-size: 60px;
    font-weight: 100;
}

.actions {
    margin-top: 10px;
}

.actionbtn {
    background: 0;
    border: 0;
    padding: 10px;
    opacity: 0.8;
    vertical-align: middle;
    border-radius: 3px;
}

.actionbtn:hover {
    background: 0;
    border: 0;
    background: rgba(255, 255, 255, 0.3);
    opacity: 1;
    box-shadow: 0px 0px 28px -6px rgba(255,136,115,1);
    vertical-align: middle;
}

.actionbtn:active {
    background: 0;
    border: 0;
    background: rgba(255, 255, 255, 0.1);
    opacity: 1;
    box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.6);
    vertical-align: middle;
}

.transaction-item .address,
.transaction-item .amount,
.transaction-item .icon span,
.transaction-item .date {
    margin: 0px;
}
