.Transactions {
    margin-top: 200px;
}

.transaction-item {
    background: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 16px;
    height: 140px;
    margin-bottom: 20px;
}

.transaction-item .date{
   font-size: 20px;
}

.transaction-item .icon span{
    font-size: 50px;
    margin-left: 5%;
}

.transaction-item .amount{
    font-size: 60px;
}